@model IEnumerable<SWZIM_WEBWeb.Notifications>

@{
    ViewBag.Title = "Index";
}


<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon_house_alt"></i> Home</a></li>
                    <li class="active"> Powiadomienia</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Lista powiadomień
                    </header>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Label)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Body)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Label)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Body)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                                        @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </section>

            </div>
        </div>
    </section>
</section>
