@model SWZIM_WEBWeb.Groups

@{
    ViewBag.Title = "Szczegóły grupy";
}


<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon_house_alt"></i> Home</a></li>
                    <li class="active"> @ViewBag.Title</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title
                    </header>
                    <div class="panel-body">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    Ilość przypisanych warstw
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Layers.Count)
                                </dd>

                                <dt>
                                    Ilość przypisanych użytkowników
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Users.Count)
                                </dd>
                                
                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Użytkownicy", "Users", new { id = Model.Id }, new { @class = "btn btn-danger  btn-sm" })
                            @Html.ActionLink("Warstwy", "Group", "Layers", new { id = Model.Id }, new { @class = "btn btn-warning  btn-sm" })
                        </p>
                        <p>
                            @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-info  btn-sm" })
                            @Html.ActionLink("Przejdź do listy grup", "Index", null, new { Class = "btn btn-info  btn-sm" })
                        </p>
                    </div>
                </section>

            </div>
        </div>
    </section>
</section>
