@model IEnumerable<SWZIM_WEBWeb.Groups>

@{
    ViewBag.Title = "Lista grup";
}


<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon_house_alt"></i> Home</a></li>
                    <li class="active"> @ViewBag.Title</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title
                    </header>
                    <div class="panel-body">
                        <p>
                            @Html.ActionLink("Utwórz nową grupę", "Create", null, new { Class = "btn btn-info  btn-sm" })
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    Liczba przyp. warstw
                                </th>
                                <th>
                                    Liczba przyp. użytkowników
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Layers.Count)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Users.Count)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edycja", "Edit", new { id = item.Id }, new { @class = "btn btn-info  btn-sm" })
                                        @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-warning  btn-sm" })
                                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger  btn-sm" })
                                        @Html.ActionLink("Użytkownicy", "Users", new { id = item.Id }, new { @class = "btn btn-info  btn-sm" })
                                        @Html.ActionLink("Warstwy", "Group", "Layers", new { id = item.Id }, new { @class = "btn btn-warning  btn-sm" })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
