@model SWZIM_WEBWeb.LayoutElements

@{
    ViewBag.Title = "Szczegóły elementu warstwy";
}

<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")"><i class="icon_house_alt"></i> Home</a></li>
                    <li class="active"> @ViewBag.Title</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        @ViewBag.Title
                    </header>
                    <div class="panel-body">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    Ilość przypisanych elementów warstw
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LayoutElements1.Count)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Latitude)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Latitude)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Longitude)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Longitude)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Users.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Users.Email)
                                </dd>

                            </dl>
                        </div>
                        <h3>Elementy warstwy</h3>
                        <table class="table">
                            <tr>
                                <th>
                                    Nazwa atrybutu
                                </th>
                                <th>
                                    Wartość atrybutu
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model.LayoutElementAttributes)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Value</td>
                                    <td>
                                        @Html.ActionLink("Edycja", "Edit", new { id = item.Id }, new { @class = "btn btn-info  btn-sm" })
                                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger  btn-sm" })
                                    </td>
                                </tr>
                            }
                        </table>
                        <p>
                            @Html.ActionLink("Dodaj atrybut","AddAttribute", new { id = Model.Id }, new { @class = "btn btn-danger  btn-sm" })
                            @if (Model.LayoutElements1.Count > 0)
                            {
                                @Html.ActionLink("Cześci elementu warstwy", "Layers", new { id = Model.Id }, new { @class = "btn btn-warning  btn-sm" })
                            }
                            
                        </p>
                        <p>
                            @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-info  btn-sm" })
                            @Html.ActionLink("Przejdź do listy elementów warstwy", "Index", null, new { Class = "btn btn-info  btn-sm" })
                        </p>
                    </div>
                </section>

            </div>
        </div>
    </section>
</section>
