@using SWZIM_WEBWeb.Models;
@using SWZIM_WEBWeb.Helpers;
@using ExtensionsHelper = SWZIM_WEBWeb.Helpers.ExtensionsHelper;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- container section start -->
    <section id="container" class="">
        <header class="header white-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>
            <!--logo start-->
            <a class="logo" href="@Url.Action("Index", "Home")">SWZIM <span class="lite">WEB</span></a>
            
            @*<a href="index.html" class="logo"><span>SWZIM</span> <span class="lite">WEB</span></a>*@
            <!--logo end-->
            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-form" }))
                        {
                            @Html.Hidden("SPHostUrl", new { Value = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri })
                            <input class="form-control" placeholder="Wyszukaj" type="text" id="textToFind" name="textToFind">
                        }
                    </li>
                </ul>
                <!--  search form end -->
            </div>
            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                   
                    <!-- inbox notificatoin start-->
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-calendar-l"></i>
                            @*<span class="badge bg-important">5</span>*@
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">Ostatnie zdarzenia</p>
                            </li>
                            @foreach (Events item in EventsHelper.GetLatestEventsForUser(ViewBag.UserId, 5))
                            {
                                <li>
                                    <a href="@Url.Action("Details", "Events", new { id = item.Id })">
                                        <span class="photo"><img alt="avatar" src="/img/map-icons/exclamation31.png"></span>
                                        <span class="subject">
                                            <span class="from">@item.Name</span>
                                            @{
                                                var timeDiff = (DateTime.Now - item.CreatedAt).MakeReadable();
                                            }
                                            <span class="time">@timeDiff</span>
                                        </span>
                                        <span class="message">
                                            @if (item.Description.Length > 37)
                                            {
                                                @item.Description.Substring(0,37)  
                                            }  
                                            else
                                            {
                                                @item.Description
                                            } 
                                        </span>
                                    </a>
                                </li>
                            }
                            
                            
                            <li>
                                <a href="@Url.Action("Index", "Events")">Wszystkie wydarzenia</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox notificatoin end -->
                    <!-- alert notification start-->
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-l"></i>
                            @{var messageCount = NotificationsHelper.GetNotificationsCount(ViewBag.UserId); }
                            @{  if (messageCount > 0) {
                                    <span class="badge bg-important">@messageCount</span>
                                }
                            }
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li style="text-align: center;">
                                <p class="blue">Masz @messageCount.ToString() nowych powiadomień!</p>
                            </li>
                            @foreach(Notifications notification in NotificationsHelper.GetNotifications(ViewBag.UserId, 5))
                            {
                                <li>
                                    @{var isRead = notification.IsRead.HasValue && notification.IsRead.Value; }
                                    <a href="@Url.Action("Details", "Notifications", new { id = notification.ID })" @(string.Format("{0}", isRead ? "" : @"style=font-weight:bolder;"))>
                                        <span class="label label-@SWZIM_WEBWeb.Consts.Enumerations.NotificationLabel.danger"><i class="icon_@SWZIM_WEBWeb.Consts.Enumerations.NotificationType.profile"></i></span>
                                        @notification.Label.Truncate(25)
                                        <span class="small italic pull-right">@notification.Created.ToShortDateString()</span>
                                    </a>
                                </li>
                            }
                            <li style="text-align: center;">
                                <a href="@Url.Action("Index", "Notifications", new { id = "" })" style="color: #007aff !important;">Pokaż wszystkie</a>
                            </li>
                        </ul>
                    </li>
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="~/img/avatar1_small.jpg">
                            </span>
                            <span class="username">@((!string.IsNullOrEmpty(ViewBag.UserName)) ? ViewBag.UserName : "Jan kowalski")</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> Profil użytkownika</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_mail_alt"></i> Skrzynka odbiorcza</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_key_alt"></i> Wyloguj</a>
                            </li>
                            <li>
                                <a href="http://jazz.wcy.wat.edu.pl:8086/ReqWeb/MainFrame.jsp"><i class="icon_key_alt"></i> Dokumentacja</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li data-ctrl="Home" data-action="Index">
                        <a class="" href="@Url.Action("Index", "Home")">
                            <i class="icon_house_alt"></i>
                            <span>Strona główna</span>
                        </a>
                    </li>
                    <li data-ctrl="Map" data-action="Index">
                        <a class="" href="@Url.Action("Index", "Map")">
                            <i class="icon_map_alt"></i>
                            <span>Mapa</span>
                        </a>

                        <ul class="sub">
                            @*<li><a class="active" href="#">Warstwa 1</a></li>
                            <li><a class="" href="#">Warstwa 2</a></li>
                            <li><a class="" href="#">Warstwa 3</a></li>*@
                            @foreach (var item in LayersHelper.GetLayersList(ViewBag.UserId))
                            {
                                <li><a href="javascript:onClickLayer(@item.Id)">@item.Name</a></li>
                            }
                            <li><a href="javascript:clearAllMarkers()">Wyczyść mape</a></li>
                        </ul>
                    </li>

                    @*<li class="sub-menu active" data-ctrl="Home" data-action="Index">
                        <a href="javascript:;" class="">
                            <i class="icon_desktop"></i>
                            <span>Warstwy</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="active" href="#">Warstwa 1</a></li>
                            <li><a class="" href="#">Warstwa 2</a></li>
                            <li><a class="" href="#">Warstwa 3</a></li>
                        </ul>
                    </li>*@

                    <li data-ctrl="Event" data-action="Index">
                        <a class="" href="@Url.Action("Index", "Events")">
                            <i class=" icon-table-l">
                            </i>
                            <span>Lista zdarzeń</span>
                        </a>
                    </li>
                    <li class="sub-menu" data-ctrl="Admin" data-action="Index">
                        <a href="javascript:;" class="">
                            <i class="icon_key_alt"></i>
                            <span>Panel administracyjny</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="active" href="#">Import danych</a></li>
                            <li><a class="" href="#">Eksport danych</a></li>
                            <li><a class="" href="@(ViewBag.SPHostUrl + "/_layouts/15/groups.aspx")"  target="_blank">Zarządzanie grupami</a></li>
                            <li><a class="" href="@(ViewBag.SPHostUrl + "/_layouts/15/people.aspx?MembershipGroupId=8")" target="_blank">Zarządzanie użytkownikami</a></li>
                            <li><a class="" href="@(Url.Action("Create", "Notifications"))">Wystawianie powiadomień</a></li>
                            <li><a class="" href="@(Url.Action("Index", "EventTypes"))">Zarządzanie typami zdarzeń</a></li>
                            <li><a class="" href="@(Url.Action("Index", "Events"))">Zarządzanie zdarzeniami</a></li>
                        
                            
                        </ul>
                    </li>
                    <li data-ctrl="Profile" data-action="Index">
                        <a class="" href="#">
                            <i class="icon_profile"></i>
                            <span>Profil użytkownika</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <i class="arrow_left_alt"></i>
                            <span>Wyloguj</span>
                        </a>
                    </li>
                    
                </ul>
                <!-- sidebar menu end-->    
            </div>
        </aside>
        <!--sidebar end-->
        @RenderBody()
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/spcontext")
    <script type="text/javascript">
        var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
        var actionName = '@ViewContext.RouteData.Values["Action"].ToString()';
        $(function () {
            $('li[data-ctrl="' + controllerName + '"][data-action="' + actionName + '"]').addClass('active');
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
